<h1>Welcome!</h1>

<p><b>On this app using:</b> Node.js, Express.js, Handlebar.js, Materialize CSS, MongoDB, Mongoose, SendGrid.</p>
<p><b>Also additional packages:</b> Express-Session, Connect MongoDB Session, bcryptjs, csurf, nodemailer, express-validator, multer, helmet, compression.</p>
<p>This app have full cycle authorizations: reset password, sending emails, cookies, save sessions.</p>
<a href="">View code on GitHub</a>
<p>Created by <b>Viktor Shchekotikhin</b>,</p>
<p>Skype: vitia046</p>
<p><a href="https://www.linkedin.com/in/viktor-shchekotikhin-648840151/">Linkedin</a>, Mail to: <a href="mailto:vitia046@gmail.com">vitia046@gmail.com</a></p>
<hr>
<h2>How to use?</h2>
<ol>
    <li><b>Create account</b><br>
    <p>
        Go to link 'Sign in' in menu, and click on registration tab<br>
        Enter valid email, preferably the one you have access to. <br>
        You will be sent a letter of congratulation on registration.<br>
        All inputs in this app use client and server validation.
    </p>
    </li>
    <li><b>Login</b><br>
        <p>
            After creating account you will be redirect to login page, <br>
            Enter your login and password, If you forgot password you can renew one, <br>
            click on link forgot page and write account email <br>
            You will be sent a letter of resetting password. <br>
            Link in letter active only one hour.<br>
            Click on link, and write new password in form,<br>
            after that, enter your login and password, in login form.
        </p>
    </li>
    <li><b>Courses</b><br>
        <p>
            In this page, you can add course to cart or open this course for more info. <br>
            Also you can edit course that you create.<br>
            If you dont create course yet, this options is disable for you.<br>
            Else if 'Edit' button available, you can change course info.
        </p>
    </li>
    <li><b>Add Courses</b><br>
        <p>
            In this page you can create you own course, and add it to catalog. <br>
            Write, name, price, description, and image url <br>
            Dont forget for validation
        </p>
    </li>
    <li><b>Profile</b><br>
        <p>
            You can change account name and upload you avatar.
        </p>
    </li>
    <li><b>Cart</b><br>
        <p>
            In cart you can looking on courses that you buy on Courses page. <br>
            Also you can delete course from order, <br>
            clicking on submit button, you will be redirect to Order page. <br>
            And cart will be empty.
        </p>
    </li>
    <li><b>Orders</b><br>
        <p>
            On this page will be history of your orders with details.
        </p>
    </li>
    <li><b>Logout</b><br>
        <p>
            Exit, and stop current session.
        </p>
    </li>
</ol>
